<% provide(:title, "SR Shareとは？") %>
<h1>SR Shareとは？</h1>
<div class="text-center">
  <h3>バイクタイヤに特化したレビュー共有サービスです</h3>
  <p>バイク走行において重要な役割をするタイヤ。高価で情報が少ないバイクタイヤのレビューを共有して<br>
    自分の走行に合ったタイヤを選びましょう！！
  </p>
</div>
