<% provide(:title, 'バイクタイヤレビュー共有サイト') %>
  <div class="jumbotron jumbotron-extend">
    <div class="inner-contents text-center">
      <h1>もうタイヤ選びで迷わない</h1>
      <p>ライダーの皆さん、タイヤ選びに困ったことはありませんか？</p>
      <p>レビューを共有して自分に合ったタイヤを見つけよう！</p>
    </div>
  </div>
