<div class="col-md-4 col-xs-12">
  <div class="user text-center">
    <div class="users-image">
      <% if user.image.present? %>
        <img src=<%= user.image.url %>>
      <% else %>
        <img src="/default/default_user.png">
      <% end %>
    </div>
    <div class="user-name">
      <%= link_to user.name, user %>さん
    </div>
    <div class="review-count">
      <p>投稿レビュー数 <%= user.reviews.count %>件</p>
    </div>
  </div>
</div>
