<li class="list-group-item">
  <div class="container">
    <div class="row">
      <div class="col-md-3 users-image">
        <img src=<%= user.image.url %>>
      </div>
      <div class="col-md-3 user-name">
        <%= link_to user.name, user %>さん
      </div>
    </div>
    <%#= user.review.count %>
    投稿レビュー数 200件
  </div>
</li>
