<% provide(:title, @title) %>
<div class="container">
  <div class="row">
    <%= render 'user_info' %>
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <% if @users.any? %>
        <ul class="list-group">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
  </div>
</div>
