<% provide(:title, @title) %>
<div class="container">
  <div class="row">
    <%= render 'user_info' %>
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <% if @favorites.any? %>
        <div class="favorite-item">
          <div class="container">
            <div class="row">
              <div class="card-deck">
                <%= render 'user_favorite', favorites: @favorites %>
              </div>
            </div>
          </div>
          <%= will_paginate @favorites %>
        </div>
      <% end %>
    </div>
  </div>
</div>
