<% items.each do |item| %>
<div class="col-lg-3">
  <div class="card">
    <div class="card-header">
      <img src=<%= item.image.url %> class="card-img-top" alt="カードの画像">
    </div>
    <div class="card-body text-center">
      <h5 class="card-title"><%= link_to item.name, item_path(item.id) %></h5>
      <p class="card-text">投稿レビュー数 (<%= item.reviews.all.count %>)</p>
      <%= render 'users/favorite_form', item: item if user_signed_in? %>
    </div>
  </div>
</div>
<% end %>
