<% provide :title, "タイヤカテゴリー一覧" %>
<div class="container">
  <% @categories.each do |category| %>
    <%= link_to category_path(category.id) do %>
      <div class="col-md-3">
        <div class="category-image">
          <img src=<%= category.image.url %>>
        </div>
        <p><%= category.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
