<header class="navbar nabvar-fixed-top">
  <div class="container">
    <%= link_to "トップ", root_url %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "SR Shareとは？", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
